[startup]
exec = [
	"dunst",
	"waybar",
	"swaybg -i ~/Pictures/Backgrounds/bg.png",
	"swayidle -w timeout 120 'swaylock -f -c 000000'",
	"zeditor",
	"vesktop --ozone-platform='wayland'",
	"/usr/lib/xdg-desktop-portal-wlr &",
	"/usr/lib/xdg-desktop-portal -r",
]

[[startup.env]]
MOZ_ENABLE_WAYLAND = 1
ELECTRON_OZONE_PLATFORM_HINT = "wayland"
SDL_VIDEODRIVER = "wayland"
QT_QPA_PLATFORM = "wayland"

[exit]
exec = [
	"killall awmsg"
]

[keyboard]
layout = "de"

[pointer.xcursor]
theme = "capitaine-cursors"
size = 24

[pointer.touchpad]
natural_scroll = true
tap_to_click = true

[tiling]
method = "dwindle"

[general]
system_bell = "ffplay -nodisp -autoexit /usr/share/sounds/freedesktop/stereo/bell.oga"

[binds]
exit = "Logo Escape"
window.close = "Logo w"
window.fullscreen = "Logo f"
window.previous = "Logo o"
window.next = "Logo p"
window.move = "Logo MouseLeft"
window.resize = "Logo MouseRight"
window.pin = "Logo Shift P"
window.up = "Logo k"
window.down = "Logo j"
window.left = "Logo h"
window.right = "Logo l"
window.swap.up = "Shift Logo K"
window.swap.down = "Shift Logo J"
window.swap.left = "Shift Logo H"
window.swap.right = "Shift Logo L"
window.swap.close = "Logo w"
window.half.up = "Logo Up"
window.half.down = "Logo Down"
window.half.left = "Logo Left"
window.half.right = "Logo Right"
workspace.tile = "Logo t"
workspace.tile_sans = "Logo Shift T"
workspace.open = "Logo Number"
workspace.window_to = "Logo Shift Number"

[[monitors]]
name = "eDP-1"
width = 2880
height = 1800
refresh = 90
scale = 1.5

[[commands]] # launcher
bind = "Logo space"
exec = "rofi -show drun"

[[commands]] # terminal
bind = "Logo Return"
exec = "foot"

[[commands]] # area selection screenshot
bind = "Logo Shift S"
exec = "frzscr -c sh -c 'mrpenishot -g \"$(slurp)\" - | wl-copy -t \"image/png\"'"

[[commands]] # fullscreen screenshot
bind = "Print"
exec = "mrpenishot - | swappy -f - "

[[commands]] # toplevel screenshot
bind = "Alt Print"
exec = "mrpenishot -t \"$(awmsg t f | jq -j '.foreign')\" - | wl-copy -t 'image/png'" 

[[commands]] # file viewer
bind = "Logo a"
exec = "nautilus"

[[commands]] # brightness up
bind = "XF86MonBrightnessUp"
exec = "brightnessctl set +10%"

[[commands]] # brightness up
bind = "XF86MonBrightnessDown"
exec = "brightnessctl set 10%-"

[[windowrules]]
class = "dev.zed.Zed"
workspace = 1

[[windowrules]]
class = "zen"
workspace = 2
state = "maximized"

[[windowrules]]
class = "vesktop"
workspace = 3
