* {
    border: none;
    font-family: "Roboto Mono Medium", Helvetica, Arial, sans-serif;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    font-size: 12px;
    min-height: 0;
}

tooltip {
    background: rgba(0, 0, 0, 0.9);
}

#tray * menu {
    background-color: rgba(0, 0, 0, 0.9);
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

#workspaces button {
    color: white;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.9);
}

#workspaces button.active {
    font-weight: bold;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727d;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#custom-power,
#custom-awm_workspace {
    padding: 0 10px;
    margin: 6px 3px;
}

#window {
    margin: 0 4px;
}

#battery.charging {
    color: #a7c080;
}

#battery.critical {
    color: #e67e80;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu,
#tray,
#memory,
#backlight,
#network,
#pulseaudio,
#workspaces,
#pulseaudio.muted,
#custom-awm_workspace,
#idle_inhibitor {
    color: white;
}

#network.disconnected {
    background-color: #f53c3c;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #e67e80;
}
